<!- Michael Ruvinshteyn ->
<!- SoftDev1 pd7 ->
<!- HW13 -- A RESTful Journey Skyward ->
<!- 2017 - 11 - 09 ->

<!DOCTYPE html>
<html>
    <head>
        <title>{{TITLE}}</title>
        <link rel="icon" href="{{IMG}}">
    </head>
    <body style="background-color:azure;">
        <center><h1>{{TITLE}}</h1></center>
        
        <br>
        
        <center><img src="{{IMG}}" style="width:40%; height:40%; border-radius: 100px;"></center>
        
        <br>
        
        <div style="text-align: right; padding-right:100px;"><strong>Copyright:</strong> {{NAME}}</div> 
        
        <br><br>
        
        <div style="padding-left:100px; padding-right:100px; line-height: 150%;"><strong>Explanation:</strong> {{EXP}}</div>
        
        <br><br>
        
        <div style="font-size: .6em; text-align: right;">Published {{DATE}} by Michael Ruvinshteyn</div>
    </body>
</html>
